
DATABASE_URL="postgresql+psycopg://postgres:[YOUR-PASSWORD]@db.[YOUR-PROJECT-REF]/insurance_db" #Ask any ai ide like antigravity to give this after setting up the project in docker
REDIS_URL="Ask any ide to give this after setting up the project in docker"
SECRET_KEY="development-secret-key" # JWT Secret for Auth (If needed later) same ask antigravity to give this
GROQ_API_KEY="console.groq.com you will get you api there"
