fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
psycopg[binary]
python-dotenv
alembic
pandas
scikit-learn
joblib
numpy
mlflow
optuna
imbalanced-learn
xgboost
lightgbm
ctgan
matplotlib
seaborn
psutil
shap==0.45.0
sentence-transformers==3.0.1
faiss-cpu==1.8.0.post1
pymupdf==1.24.7
python-docx==1.1.2
tiktoken==0.7.0
markdown==3.6
beautifulsoup4==4.12.3
langgraph==0.1.8
langchain-core>=0.2.15
langchain-google-genai==1.0.7
pyyaml==6.0.1
langgraph-checkpoint-postgres==1.0.4
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
email-validator
pyotp
slowapi
qrcode
langchain-groq==0.1.6
redis==5.0.1
